*{
  margin : 50;
.container{
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
 
}
  
}img {
  width: 400px;
  
}
.middletext {
  padding: 25px 50px 75px 100px;
}

* {
  background:white;
}
 
}
.middletext {
  border-style:dotted;
}

  
  
  


